@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700,600,400");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-purple-blue{
  background: #605DEC;
}

.text-purple-blue{
  color: #605DEC;
}

.text-hover-color:hover{
  color: #605DEC;
}

.text-grey-custom{
  color: #7C8DB0;
}