@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700,600,400");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-purple-blue{
  background: #605DEC;
}

.text-purple-blue{
  color: #605DEC;
}

.text-hover-color:hover{
  color: #605DEC;
}

.text-grey-custom{
  color: #7C8DB0;
}

.full-shadow{
  box-shadow: 0 0 10px -1px #7C8DB0;
}

.hide-scroller::-webkit-scrollbar{
  display: none;
}

input[type=radio]{
  accent-color: #605DEC;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 400ms; /* Adjust the duration as needed */
  animation-iteration-count: 1;
}

